
﻿#Запрещаем индексацию предыдущих версий файлов, которые оставляет редактор.
*.~*
*~
#Запрещаем бинарные файлы
*.exe
*.lib
*.obj
*.dll
#Запрещаем файлы студии
*.opensdf
*.sdf
*.log
*.tlog
*.suo
*.sln.docstates.suo
.vs
*.db
*.opendb
#Запрещаем файлы COM объектов
*_i.*
*_p.*
#Запрещаем файлы делфи
*.res
*.dpk
#Полностью запрещаем папку компиляции
bin
obj
BUILD
lib
ipch
OBJs
Release
Debug
#игнорируем файлы версий
VersionInfo.cs
build.cs